{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>where.to</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
</head>

<body>
  <div class="navbar">
    <h1>where.to</h1>
  </div>

  <div class="hero">
    <h2>Shorten those boring long URLs!</h2>

    <form action="/shorten" method="post" class="form"> 
      {% csrf_token %}
      <label for="long_url">Enter URL that you want to shorten:</label>
      <input id="long_url" name="long_url" type="text"/>
      
      <input type="submit" value="Shorten!"/>
    </form>
  </div>
</body>
</html>